*.a
*.o
*.pid
*.so
*.dylib
kvstore-*.tar.gz
src/cpp_sdk/test_all
src/3rd_party/hiredis/hiredis-test
src/3rd_party/hiredis/hiredis.pc
src/config_server/config_server
src/config_server/log/
src/kv_store_proxy/kv_store_proxy
src/kv_store_proxy/log/
src/migration_tool/log/
src/migration_tool/migration_tool
src/redis_port/redis_port
src/redis_proxy/redis_proxy
src/test/test_all

test-env/cs1/config_server
test-env/cs2/config_server
test-env/migration_tool
test-env/proxy/kv_store_proxy
test-env/redis_port
test-env/test_all
test-env/redis-benchmark
test-env/redis-cli
test-env/redis1/redis-server
test-env/redis2/redis-server
test-env/redis3/redis-server
test-env/redis4/redis-server
test-env/redis5/redis-server
test-env/redis6/redis-server

.idea
